header {
	position: fixed;
	width: 100%;
	
}
nav {
	font-family: sans-serif;
}
ul li{
	list-style-type: none;
	display: inline-block;
	text-transform: uppercase;
	padding-left: 10px;
	padding-right: 15px;
}
ul {
	margin: 0;
}
div {
	display: inline-block;
}
ul {
	display: inline-block;
}
a {
	text-decoration: none;
	color: #979797;
}
img {
	display: inline-block;
	background-color: red;
	width: 150px;
	height: 56px;
}
#store {
	padding-left: 0;
	padding-right: 150px;
	border-left: 1px solid #979797;
}
div ul {
	padding: 0;
}