footer {
	font-family: sans-serif;
	background-color: #e7e7e7;
	width: 100%;
}
article {
	display: inline-block;
	padding-right: 150px;
	text-align: left;
	text-transform: uppercase;
	font-size: 0.7em;
}
form {
	display: inline-block;
	background-color: #c3c2c2;
	padding: 15px;
	width: 250px;
}
ul li {
	list-style-type: none;
}
select {
	display: block;
}
input[type="submit"] {
	width: 100px;
	background-color: #000;
	color: #FFF;
	text-transform: uppercase;
	height: 30px;