body {
	font-family: sans-serif;
}
form {
	display: block;
	text-align: center;
	background-color: #c3c2c2;
	border-radius: 90%;
	width: 30%;
	padding: 25px 5px 25px 5px;
}
input {
	text-transform: uppercase;
}
input[name="email"] {
	width: 300px;
}
input[type="submit"] {
	width: 100px;
	background-color: #000;
	color: #FFF;
	text-transform: uppercase;
	width: 100px;
	height: 30px;
}
h2 {
	text-transform: uppercase;
	text-align: center;
}
p {
	font-size: 0.7em;
}
a {
	color: #000;
}