header {
	position: fixed;
	top: 0%;
}
nav {
	position: fixed;
	width: 100%;
	font-family: sans-serif;
}
ul li{
	list-style-type: none;
	display: inline-block;
	text-transform: uppercase;
	padding-left: 10px;
	padding-right: 5px;
}
ul {
	margin: 0;
}
div {
	display: inline-block;
}
ul {
	display: inline-block;
}
a {
	text-decoration: none;
	color: #979797;
}
img {
	background-color: red;
	width: 125px;
	height: 56px;
}
#store {
	padding-left: 0;
	padding-right: 180px;
	border-left: 1px solid #979797;
}
