body {
	background-color: red;
	color: #FFF;
}
section {
	position: relative;
	width: 100%;
	font-family: sans-serif;
}
form {
	position: absolute;
	top: 0;
	left: 500px;
}
label {
	display: block;
	font-size: 0.8em;
}
input {
	height: 30px;
	width: 300px;
}
ul {
	position: absolute;
	top: 0;
	left: 900px;
	list-style-type: none;
}
ul li {
	font-size: 1.2em;
}
a {
	text-decoration: none;
	color: #FFF;
}
h1 {
	font-size: 3.5em;
	font-weight: lighter;
}
h2 {
	font-size: 1.5em;
	color: #000;
}
input[type="submit"] {
	text-transform: uppercase;
	border: 1px solid black;
	background-color: #FFF;
}
input[type="send"] {
	text-transform: uppercase;
	border: 1px solid #FFF;
	text-align: center;
	color: #FFF;
	background-color: red;
}